/* .container {
  padding-top: 5rem;
  padding-bottom: 2rem;
} */

.container {
  padding: 0;
  position: relative;
}

.crew-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.crew-image-section {
  height: 200px;
  position: relative;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.crew-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 0.5rem;

  align-items: center;
  /* justify-content: flex-end; */
  justify-content: center;
  flex-wrap: wrap;
}

.action-btn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
  transition: background-color 0.3s, padding 0.3s, font-size 0.3s;

  flex-shrink: 1;
}

.share-btn {
  background-color: #007bff;
}

.share-btn:hover {
  background-color: #0056b3;
}

.report-btn {
  background-color: #f1f3f5;
  color: #333;
}

.report-btn:hover {
  background-color: #e2e2e2;
}

.leave-btn {
  background-color: #f1f3f5;
  color: #333;
}

.leave-btn:hover {
  background-color: #e2e2e2;
}

.edit-btn {
  background-color: #007bff;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #b02a37;
}

.heart-btn {
  background-color: #f1f3f5;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.2rem;

  transition: background-color 0.3s, font-size 0.3s, padding 0.3s;

  /* display: flex;
  align-items: center;
  justify-content: center; */
  flex-shrink: 0;
}

.heart-btn.liked {
  background-color: #fff;
  color: #dc3545;
  cursor: not-allowed;
  border: none;
}

.heart-btn .fa-heart {
  color: #fff;
  border: 1px solid #111111;
  border-radius: 50%;
}

.crew-intro {
  white-space: pre-wrap; /* 공백과 개행을 유지하면서 줄바꿈 */
  word-wrap: break-word; /* 긴 단어를 자동으로 줄바꿈 */
  line-height: 1.6; /* 줄 간격 조정 */
}

.bottom-sheet {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  max-width: 1200px;
  background-color: #f9b4ed;
  color: #fff;
  padding: 0.6rem 1.2rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
}

.bottom-sheet:hover {
  background-color: #e89ac7;
}

.bottom-sheet-content {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  max-width: 1200px;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: transform 0.3s ease;
  z-index: 1001;
}

.bottom-sheet-content .join-sheet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bottom-sheet-content .join-sheet-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bottom-sheet-content .join-btn {
  background-color: #f9b4ed;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1.5rem;
  width: calc(100% - 2rem);
  max-width: 1200px;
  margin: 0 auto;
}

.bottom-sheet-content .join-sheet-header {
  width: calc(100% - 2rem);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bottom-sheet-content .join-sheet-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: calc(100% - 2rem);
  max-width: 1200px;
  margin: 0 auto;
}
.bottom-sheet-content .join-sheet-body input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.bottom-sheet-content .join-btn {
  width: 100%;
  background-color: #f9b4ed;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .bottom-sheet,
  .bottom-sheet-content .join-btn {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .bottom-sheet,
  .bottom-sheet-content .join-btn {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  .bottom-sheet,
  .bottom-sheet-content .join-btn {
    max-width: 480px;
  }
}

@media (max-width: 380px) {
  .action-btn {
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
  }

  .heart-btn {
    padding: 0.3rem;
    font-size: 1rem;
  }

  .action-buttons {
    gap: 0.3rem;
  }
}
